<h1>Add Customer</h1>
<form action='/customer/add/do' method="POST" name='frm-customer' id='frm-customer'>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label>Nama Lengkap</label>
				<input name='nama_lengkap' id='nama_lengkap' class='form-control'/>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label>Email</label>
				<input name='email' id='email' class='form-control'/>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label>Alamat</label>
				<textarea name="alamat" id="alamat" class="form-control" cols="3"></textarea>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label>Jenis Kelamin</label>
				<div class="radio">
					<label>
						<input type='radio' name='jk' id='jk' class='form-control' value="l"/>Laki-laki
					</label>
				</div>
				<div class="radio">
					<label>
						<input type='radio' name='jk' id='jk' class='form-control' value="p"/>Perempuan
					</label>
				</div>

			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				<button class='btn btn-primary'>Save</button>
				<a href="#" class="btn btn-danger">Back</a>
			</div>
		</div>
	</div>
</form>